<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="//img.alicdn.com/tfs/TB1HZMhOpXXXXXgXpXXXXXXXXXX-32-32.png">
  <link href="https://cdn.bootcss.com/antd/3.1.0/antd.min.css" rel="stylesheet">

  <link rel="stylesheet" href="./vendor.bundle.css">
  <link rel="stylesheet" href="./<%= htmlWebpackPlugin.options.title %>.bundle.css">
  <!--[if lt IE 9]>
  <script>location.href = "//www.taobao.com/markets/tbhome/ali-page-updater"; </script>
  <![endif]-->
</head>

<body>

  <div id="container"></div>
  <script src="https://cdn.bootcss.com/react/16.2.0/umd/react.production.min.js"></script>
  <script src="https://cdn.bootcss.com/react-dom/16.2.0/umd/react-dom.production.min.js"></script>
  <script src="https://cdn.bootcss.com/redux/3.7.2/redux.min.js"></script>
  <script src="https://cdn.bootcss.com/react-redux/5.0.6/react-redux.min.js"></script>
  <script src="https://cdn.bootcss.com/redux-thunk/2.2.0/redux-thunk.min.js"></script>
  <script src="https://cdn.bootcss.com/moment.js/2.20.1/moment.min.js"></script>

  <script src="https://cdn.bootcss.com/antd/3.1.0/antd.min.js"></script>

  <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>

  <script type="text/javascript" src="./vendor.js"></script>
  <script type="text/javascript" src="./<%= htmlWebpackPlugin.options.title %>.js"></script>
</body>

</html>